@use '@angular/material' as mat;
@use "ngx-cron-editor/theming" as cron-editor;
/* You can add global styles to this file, and also import other style files */

@include mat.core();

$theme: mat.define-theme((
  color: (
    primary: mat.$magenta-palette,
    tertiary:  mat.$green-palette
  )
));

html {
  @include mat.all-component-themes($theme);
  @include cron-editor.cron-editor-theme($theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
